body {
  background-color: rgb(249, 249, 249);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

body {
  margin: 0px;
}

button, input, optgroup, select, textarea {
  margin: 0px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

@media print {
  *, ::before, ::after {
    color: rgb(0, 0, 0) !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/static/media/glyphicons-halflings-regular.f4769f9b.eot?#iefix") format("embedded-opentype"), url("/static/media/glyphicons-halflings-regular.448c34a5.woff2") format("woff2"), url("/static/media/glyphicons-halflings-regular.fa277232.woff") format("woff"), url("/static/media/glyphicons-halflings-regular.e18bbf61.ttf") format("truetype"), url("/static/media/glyphicons-halflings-regular.89889688.svg#glyphicons_halflingsregular") format("svg");
}

* {
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px 0px 0px 0px);
  border: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4, .h4 {
  font-size: 18px;
}

p {
  margin: 0px 0px 10px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.btn:hover, .btn:focus, .btn.focus {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0px;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
}

.btn-default {
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 204, 204);
}

.btn-default:focus, .btn-default.focus {
  color: rgb(51, 51, 51);
  background-color: rgb(230, 230, 230);
  border-color: rgb(140, 140, 140);
}

.btn-default:hover {
  color: rgb(51, 51, 51);
  background-color: rgb(230, 230, 230);
  border-color: rgb(173, 173, 173);
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: rgb(51, 51, 51);
  background-color: rgb(230, 230, 230);
  border-color: rgb(173, 173, 173);
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color: rgb(51, 51, 51);
  background-color: rgb(212, 212, 212);
  border-color: rgb(140, 140, 140);
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

.btn-danger:focus, .btn-danger.focus {
  color: rgb(255, 255, 255);
  background-color: rgb(201, 48, 44);
  border-color: rgb(118, 28, 25);
}

.btn-danger:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(201, 48, 44);
  border-color: rgb(172, 41, 37);
}

.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  color: rgb(255, 255, 255);
  background-color: rgb(201, 48, 44);
  border-color: rgb(172, 41, 37);
}

.btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger:active.focus, .btn-danger.active.focus, .open > .dropdown-toggle.btn-danger.focus {
  color: rgb(255, 255, 255);
  background-color: rgb(172, 41, 37);
  border-color: rgb(118, 28, 25);
}

.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
  background-image: none;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0px;
  color: inherit;
}

.alert > p, .alert > ul {
  margin-bottom: 0px;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable, .alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close, .alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-danger {
  color: rgb(169, 68, 66);
  background-color: rgb(242, 222, 222);
  border-color: rgb(235, 204, 209);
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0px;
  }

  100% {
    background-position: 0px 0px;
  }
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  opacity: 0.2;
}

.close:hover, .close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}

button.close {
  -webkit-appearance: none;
  padding: 0px;
  cursor: pointer;
  background: transparent;
  border: 0px;
}
