body {
  background-color: rgb(249, 249, 249);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

body {
  margin: 0px;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0px;
}

@media print {
  *, ::before, ::after {
    color: rgb(0, 0, 0) !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "";
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/static/media/glyphicons-halflings-regular.f4769f9b.eot?#iefix") format("embedded-opentype"), url("/static/media/glyphicons-halflings-regular.448c34a5.woff2") format("woff2"), url("/static/media/glyphicons-halflings-regular.fa277232.woff") format("woff"), url("/static/media/glyphicons-halflings-regular.e18bbf61.ttf") format("truetype"), url("/static/media/glyphicons-halflings-regular.89889688.svg#glyphicons_halflingsregular") format("svg");
}

* {
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

a {
  color: rgb(51, 122, 183);
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(35, 82, 124);
  text-decoration: underline;
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

p {
  margin: 0px 0px 10px;
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0px;
  }

  100% {
    background-position: 0px 0px;
  }
}
