body {
  background-color: rgb(249, 249, 249);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

body {
  margin: 0px;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0px;
}

button, input, optgroup, select, textarea {
  margin: 0px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

@media print {
  *, ::before, ::after {
    color: rgb(0, 0, 0) !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]::after, a[href^="javascript:"]::after {
    content: "";
  }

  .btn > .caret, .dropup > .btn > .caret {
    border-top-color: rgb(0, 0, 0) !important;
  }
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/static/media/glyphicons-halflings-regular.f4769f9b.eot?#iefix") format("embedded-opentype"), url("/static/media/glyphicons-halflings-regular.448c34a5.woff2") format("woff2"), url("/static/media/glyphicons-halflings-regular.fa277232.woff") format("woff"), url("/static/media/glyphicons-halflings-regular.e18bbf61.ttf") format("truetype"), url("/static/media/glyphicons-halflings-regular.89889688.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.glyphicon-star::before {
  content: "";
}

* {
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: rgb(51, 122, 183);
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(35, 82, 124);
  text-decoration: underline;
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

[role="button"] {
  cursor: pointer;
}

ul, ol {
  margin-top: 0px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.btn:hover, .btn:focus, .btn.focus {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0px;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset;
}

.btn-default {
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  border-color: rgb(204, 204, 204);
}

.btn-default:focus, .btn-default.focus {
  color: rgb(51, 51, 51);
  background-color: rgb(230, 230, 230);
  border-color: rgb(140, 140, 140);
}

.btn-default:hover {
  color: rgb(51, 51, 51);
  background-color: rgb(230, 230, 230);
  border-color: rgb(173, 173, 173);
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: rgb(51, 51, 51);
  background-color: rgb(230, 230, 230);
  border-color: rgb(173, 173, 173);
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color: rgb(51, 51, 51);
  background-color: rgb(212, 212, 212);
  border-color: rgb(140, 140, 140);
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}

.btn-success:focus, .btn-success.focus {
  color: rgb(255, 255, 255);
  background-color: rgb(68, 157, 68);
  border-color: rgb(37, 86, 37);
}

.btn-success:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(68, 157, 68);
  border-color: rgb(57, 132, 57);
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: rgb(255, 255, 255);
  background-color: rgb(68, 157, 68);
  border-color: rgb(57, 132, 57);
}

.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 132, 57);
  border-color: rgb(37, 86, 37);
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-info {
  color: rgb(255, 255, 255);
  background-color: rgb(91, 192, 222);
  border-color: rgb(70, 184, 218);
}

.btn-info:focus, .btn-info.focus {
  color: rgb(255, 255, 255);
  background-color: rgb(49, 176, 213);
  border-color: rgb(27, 109, 133);
}

.btn-info:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(49, 176, 213);
  border-color: rgb(38, 154, 188);
}

.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  color: rgb(255, 255, 255);
  background-color: rgb(49, 176, 213);
  border-color: rgb(38, 154, 188);
}

.btn-info:active:hover, .btn-info.active:hover, .open > .dropdown-toggle.btn-info:hover, .btn-info:active:focus, .btn-info.active:focus, .open > .dropdown-toggle.btn-info:focus, .btn-info:active.focus, .btn-info.active.focus, .open > .dropdown-toggle.btn-info.focus {
  color: rgb(255, 255, 255);
  background-color: rgb(38, 154, 188);
  border-color: rgb(27, 109, 133);
}

.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
  background-image: none;
}

.caret {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup, .dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0px;
  margin: 2px 0px 0px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0px;
  overflow: hidden;
  background-color: rgb(229, 229, 229);
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  white-space: nowrap;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: rgb(38, 38, 38);
  text-decoration: none;
  background-color: rgb(245, 245, 245);
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(51, 122, 183);
  outline: 0px;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}

.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
  z-index: 2;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-toolbar {
  margin-left: -5px;
}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
  float: left;
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group {
  margin-left: 5px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0px;
}

.btn-group > .btn:first-child {
  margin-left: 0px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn-group .dropdown-toggle:active, .btn-group.open .dropdown-toggle {
  outline: 0px;
}

.btn-group > .btn + .dropdown-toggle {
  padding-right: 8px;
  padding-left: 8px;
}

.btn .caret {
  margin-left: 0px;
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0px;
  }

  100% {
    background-position: 0px 0px;
  }
}

.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-header::before, .modal-header::after, .modal-footer::before, .modal-footer::after {
  display: table;
  content: " ";
}

.clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-header::after, .modal-footer::after {
  clear: both;
}
