body {
  background-color: rgb(249, 249, 249);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

body {
  margin: 0px;
}

img {
  border: 0px;
}

@media print {
  *, ::before, ::after {
    color: rgb(0, 0, 0) !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  tr, img {
    break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/static/media/glyphicons-halflings-regular.f4769f9b.eot?#iefix") format("embedded-opentype"), url("/static/media/glyphicons-halflings-regular.448c34a5.woff2") format("woff2"), url("/static/media/glyphicons-halflings-regular.fa277232.woff") format("woff"), url("/static/media/glyphicons-halflings-regular.e18bbf61.ttf") format("truetype"), url("/static/media/glyphicons-halflings-regular.89889688.svg#glyphicons_halflingsregular") format("svg");
}

* {
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4, .h4 {
  font-size: 18px;
}

p {
  margin: 0px 0px 10px;
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 40px 0px;
  }

  100% {
    background-position: 0px 0px;
  }
}

.media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0px;
}

.media, .media-body {
  overflow: hidden;
  zoom: 1;
}

.media-body {
  width: 10000px;
}

.media-left, .media > .pull-left {
  padding-right: 10px;
}

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

.media-heading {
  margin-top: 0px;
  margin-bottom: 5px;
}
